---
import ThemeToggle from './theme-toggle.astro';
---

<header class="mb-4 flex h-12 items-center border-b border-border px-8 print:hidden">
  <div class="flex flex-1"></div>
  <ThemeToggle />
</header>
